@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

html {
    scroll-behavior: smooth;
}

.navbar {
    width: 89%;
    height: 6rem;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-bg {
    width: 89%;
    height: 6rem;
    position: relative;
}

.logo {
    height: auto;
    width: 11rem;
    margin: 2rem;
    margin-top: 20px;
}

.navi {
    float: right;
    padding: 2rem;
    padding-right: 2rem;
    font-family: Monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
}

.navi-active {
    float: right;
    padding: 2rem;
    padding-right: 2rem;
    font-family: Monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    text-decoration: underline;
    color: #b36880;
}

.shopping-cart {
    height: auto;
    width: 33rem;
    padding-left: 9rem;
    float: left;
}

.text-box {
    width: 25rem;
    height: 20rem;
    float: right;
    margin-top: 3rem;
    margin-right: 10rem;
    z-index: 4;
}

h1 {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 3.875em;
    line-height: 1.03;
    color: #b36880;
    font-weight: 800;
}

p {
    color: black;
    margin: 0;
}

.circle {
    width: 320px;
    height: 320px;
    background-color: #f0e1e6;
    border-radius: 50%;
    margin-left: 50rem;
    position: relative;
    z-index: -1;
    animation-name: circle;
    animation-duration: 7s;
    animation-delay: -3s;
}

.box1 {
    width: 95%;
    height: 25rem;
    border-radius: 25px;
    background-color: #f0e1e6;
    margin-top: 10rem;
    margin-left: 2rem;
}

.box2 {
    width: 46%;
    height: 30rem;
    border-radius: 25px;
    background-color: #c597a7;
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
}

.box3 {
    width: 46%;
    height: 30rem;
    border-radius: 25px;
    background-color: #944b64;
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
}

.footer {
    width: 95%;
    height: 15rem;
    background-color: #ffffff;
    margin-top: 35rem;
    margin-left: 2rem;
}

@keyframes circle {
    50% {
        background-color: #f0e1e6;
        left: 150px;
        top: 0;
    }

    100% {
        background-color: #f0e1e6;
        left: 0px;
        top: 0;
    }
}