@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");



html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#navbar {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 99;
    padding: 25px 10px;
    transition: 0.4s;
    overflow: hidden;
}

.navbar-bg {
    width: 100%;
    height: 5rem;
    position: relative;
}

#logo {
    transition: 0.4s;
    width: 200px;
    margin-left: 5rem;
    margin-top: 1rem;
}

.navi {
    float: right;
    padding: 2rem;
    padding-right: 2rem;
    font-family: Monospace;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    color: black;
}

.navi-active {
    float: right;
    padding: 2rem;
    padding-right: 2rem;
    font-family: Monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    text-decoration: underline;
    color: #b36880;
}

.homecontainer {
    width: 100%;
    height: 34rem;
}

.shopping-cart {
    height: auto;
    width: 44rem;
    padding-left: 9rem;
    margin-top: -40px;
    float: left;
    position: absolute;
    z-index: -1;
}

.text-box {
    width: 25rem;
    height: 20rem;
    float: right;
    margin-top: 2rem;
    margin-right: 12rem;
    position: relative;
    display: flex;
}

.text-box h1 {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 3.875em;
    line-height: 1.03;
    color: #b36880;
    font-weight: 800;
}

p {
    color: black;
    margin: 0;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: #f0e1e681;
    border-radius: 50%;
    margin-left: 50rem;
    margin-top: 4rem;
    position: relative;
    z-index: -1;
    animation-name: circle;
    animation-duration: 7s;
    animation-delay: -3s;
}

.box1 {
    width: 95%;
    height: 13rem;
    border-radius: 25px;
    background: #f39ebc81;
    background: -webkit-linear-gradient(to right, #b36880, #f39ebc81);
    background: linear-gradient(to right, #b36880, #f39ebc81);
    margin-top: 4rem;
    margin-left: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40%;
    flex-wrap: wrap;
    line-height: 0px;
}

#dayname {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 4em;
    font-weight: 800;
    color: #ffffff;
    display: block;
}

#date {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: #ffffff;
    display: block;
    margin-top: -3rem;
}

.foodinput {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin-left: 22rem;
    margin-top: 2rem;
    width: 40%;
    float: left;
}

.add {
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #E1ABBD;
    float: left;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 5%;
    border: none;
    font-family: 'metropolisblack ', sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .4s ease-in-out;
}

.add:hover {
    transform: scale(1.1);
}

.kcalcircle {
    width: 8rem;
    height: 8rem;
    border-color: rgb(255, 255, 255);
    border-width: 7px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    margin-top: 3rem;
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calories {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    position: absolute;
    color: #b36880;
    margin-top: -35px;
}

.kcal {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    color: white;
    margin-top: 6.5rem;
    margin-left: 89px;
}

.food-name {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #b36880;
    margin-left: 13rem;
    padding-top: 3rem;
    text-transform: uppercase;
}

.line {
    height: 6px;
    width: 25rem;
    position: absolute;
    margin-left: 13rem;
    margin-top: -2rem;
    background-color: #ffffff;
}

.nutinfos {
    margin-left: 13rem;
    margin-top: -1rem;
}

.fett {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    float: left;
    padding-right: 1rem;
}

.hydrate {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    float: left;
    padding-right: 1rem;
}

.sugar {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    float: left;
    padding-right: 1rem;
}

.protein {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    float: left;
}

.evrbox {
    width: 34rem;
    height: 6.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    position: absolute;
    border-radius: 10px;
    margin-top: 9rem;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}

.evrline {
    width: 32rem;
    height: 5px;
    background-color: #d69bae96;
    margin-top: 3rem;
    margin-left: 15px;
}

.ervnutrition {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 15px;
    display: flex;
    font-weight: 800;
    color: #ffffff;
    position: absolute;
    margin-left: 6rem;
    margin-top: 6rem;
}


.ate {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 1rem;
    display: flex;
    font-weight: 800;
    color: white;
    position: absolute;
    margin-left: 48rem;
    margin-top: -3rem;
}

.slideline {
    height: 6px;
    width: 22rem;
    float: right;
    margin-right: 5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.slides {
    float: right;
    margin-top: 0rem;
    margin-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.slide {
    height: 3rem;
    width: 22rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .4s ease-in-out;
}

.slide:hover {
    transform: scale(1.1);
}

.slide span {
    float: right;
    cursor: pointer;
    padding-left: 14rem;
}

#slidename {
    font-family: 'metropolisblack ', sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #b36880;
    text-transform: uppercase;
}

.box2 {
    width: 95%;
    height: 30rem;
    border-radius: 25px;
    background-color: #d69bae96;
    margin-left: 2rem;
    margin-top: 7rem;
    position: relative;
}

.boxes {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstbox {
    width: 44%;
    height: 30rem;
    border-radius: 25px;
    background-color: #c597a7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3rem;
    margin-right: 1rem;
    float: left;
    transition: all .4s ease-in-out;
}

.firstbox:hover {
    transform: scale(102%);
}


.firsttext {
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'metropolisblack ', sans-serif;
    text-shadow: 2px 1px 30px rgba(93, 95, 99, 0.527);
    font-size: 46px;
    font-weight: 800;
    color: #ffffff;
}

.lasagne {
    width: 80%;
    margin-left: 2rem;
    margin-top: 7rem;
}

.slidesimg {
    width: 70%;
    margin-top: -10px;
    margin-left: 6rem;
}

.secondbox {
    width: 44%;
    height: 30rem;
    border-radius: 25px;
    background-color: #f0e1e681;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3rem;
    margin-left: 1rem;
    float: left;
    transition: all .4s ease-in-out;
}

.secondbox:hover {
    transform: scale(102%);
}


.secondtext {
    position: absolute;
    margin-top: 40px;
    margin-left: 2rem;
    font-family: 'metropolisblack ', sans-serif;
    font-size: 46px;
    font-weight: 800;
    color: #c597a7;
}

.footer {
    width: 90%;
    height: 10rem;
    background-color: #ffffff;
    margin-top: 13rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: rgb(0, 0, 0) 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.loginimg {
    width: 50%;
    margin-top: 7rem;
    margin-left: 14rem;
}

.footer p {
    color: black;
    padding: 3rem;
    font-family: 'metropolisblack ', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

@keyframes circle {
    50% {
        background-color: #f0e1e6;
        left: 150px;
        top: 0;
    }

    100% {
        background-color: #f0e1e6;
        left: 0px;
        top: 0;
    }
}